@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Fredericka+the+Great&family=Macondo+Swash+Caps&family=Oregano&family=Salsa&family=Special+Elite&display=swap');
/* font-family: 'Finger Paint', cursive; */
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'Macondo Swash Caps', cursive; */
/* font-family: 'Oregano', cursive; */
/* font-family: 'Salsa', cursive; */
/* font-family: 'Special Elite', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Amaranth&family=Do+Hyeon&family=Gemunu+Libre&display=swap');
/* font-family: 'Aclonica', sans-serif; */
/* font-family: 'Acme', sans-serif; */
/* font-family: 'Amaranth', sans-serif; */
/* font-family: 'Do Hyeon', sans-serif; */
/* font-family: 'Gemunu Libre', sans-serif; */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#winApp {
    background-color: aqua;
    display: grid;
    grid-template: repeat(8, 115px) / repeat(7, 1fr);
    border: solid 5px black;

}

aside {
    grid-area: 1 / 1 / -1 / 4;
    background-color: azure;
    border-right: solid 5px black;
    display: grid;
    align-items: center;
    place-items: center;
}

.title_container {
    grid-area: 1 / 4 / 2 / -1;
    background-color: brown;
    border-bottom: solid 5px black;
    display: grid;
    align-items: center;
    place-items: center;
}

.info_movie {
    grid-area: 2 / 4 / -1 / -1;
    background-color: blue;
    display: grid;
    grid-template: repeat(7, 115px) / repeat(5, 1fr);
}

.carousel_actor_movie {
    grid-area: 1 / 1 / 3 / -1;
    padding: 0 20px;
    background-color: rgb(158, 158, 23);
    border-bottom: solid 5px black;
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}

.picture_actor_container {
    margin: 10px;
    /* background: no-repeat center/100% url(/javascript/streaming/img/arctors/6NRlV9oUipeak7r00V6k73Jb7we.jpg); */
    /* background-color: aqua; */
    border-radius: 10%;
}

.picture_actor {
    background-color: aqua;
    background: no-repeat center/100% url(/javascript/streaming/img/arctors/6NRlV9oUipeak7r00V6k73Jb7we.jpg);
}

.synopsis {
    grid-area: 3 / 1 / 7 / 4;
    background-color: azure;
    display: grid;
    align-items: center;
    padding: 20px;
}

.typeOfMovie {
    grid-area: 3 / 4 / 7 / -1;
    background-color: blueviolet;
    border-left: solid 5px black;
}

p {
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

.nav_movie {
    grid-area: 7 / 1 / -1 / -1;
    background-color: rgb(65, 59, 59);
    border-top: solid 5px black;

}
